:root {
  --font: "Inter";

  --main-color: #f5f4f9;
  --main-color-100: #888888;
  --main-color-200: #444444;
  --main-color-300: #cccccc;
  --main-color-400: #666666;
  --main-color-500: #d8d8d8;

  --point-color: #cad7e7;
  --point-hover: #9ea8cc;
}
